@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes highlight {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.animate-highlight {
  animation: highlight 0.5s linear forwards;
}
